.homePage{
    
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-right: 15px;
    padding-left: 15px;
    background-image: url('/assets/img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .inner{
    max-width: 1109px;
    margin: 0 auto;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
  }
  .player-container{
    max-width: 825px;
    width: 100%;
  }
  .main-title{
    max-width: 653px;
    margin-bottom: 28px;
    font-size: 24px;
  }
  .banner{
    margin-top: 4px;
    margin-bottom: 180px;
    display: block;
    padding: 39px 0;
    background: #181A40;
    border-radius: 15px;
    text-align: center;
  }
  .comments-container{
    max-width: 255px;
    width: 100%;
    margin-top: 40px;
    margin-left: 30px;
  }
  .comments-title{
    font-size: 18px;
    margin-bottom: 27px;
  }
  .comments-title span{
    display: block;
    color: #85FBFF;
  }
  .copyright{
    opacity: 0.41;
  }
  @media screen and (max-width: 968px) {
    .container{
      flex-direction: column;
    }
    .banner{
      margin-bottom: 47px;
    }
    .comments-container{
      margin-left: 0;
      max-width: unset;
    }
    .chat-wrapper{
      min-height: 685px;
    }
    .copyright{
      margin-top: 28px;
      margin-bottom: 26px;
    }
  }
  @media screen and (max-width: 768px) {
  }
  @media screen and (max-width: 576px) {
  .container{
    padding-top: 31px;
  }
  .main-title{
    font-size: 20px;
  }
  .banner{
    margin-top: 10px;
    margin-bottom: 7px;
  }
  .comments-title{
    font-size: 15px;
  }
  .comments-title span{
    display: inline;
  }
  
  }